<div class="belt">
	<div class="marc-left">
		<strong>
			Need help? Visit the <a href="{{site.url.bugs}}">Issues on GitHub</a> or visit the <a href="http://assemble.io/docs">Assemble docs</a> to learn more!
		</strong>
	</div>
	 <div class="marc-right">
	     <nav class="navbar-collapse">
		     <ul class="nav navbar-nav navbar-right" role="menu">
			     <li><a href="#"><img alt="Connect with Me" src="assets/img/png/facebook-square.png" /></a></li>
			     <li><a href="#"><img alt="Connect with Me" src="assets/img/png/github.png" /></a></li>
			     <li><a href="#"><img alt="Connect with Me" src="assets/img/png/googleplus-square.png" /></a></li>
			     <li><a href="#"><img alt="Connect with Me" src="assets/img/png/linkedin.png" /></a></li>
			     <li><a href="#"><img alt="Connect with Me" src="assets/img/png/skype.png" /></a></li>
			     <li><a href="#"><img alt="Connect with Me" src="assets/img/png/twitter.png" /></a></li>
		     </ul>
	     </nav>
	 </div>
	 <div class="clearfix"></div>
</div>