<div class="belt">
	<div class="navbar-header">
		<button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
			<span class="sr-only">Toggle menu</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
	</div>
	<div class="marc-right">
		<nav class="collapse navbar-collapse" role="menu">
			<ul class="nav navbar-nav navbar-right">
				<li> <a href="#"><img alt="Facebook" src="assets/img/png/facebook-square.png" /></a> </li>
				<li> <a href="#"><img alt="GitHub" src="assets/img/png/github.png" /></a> </li>
				<li> <a href="#"><img alt="Google+" src="assets/img/png/googleplus-square.png" /></a> </li>
				<li> <a href="#"><img alt="Instagram" src="assets/img/png/instagram.png" /></a> </li>
				<li> <a href="#"><img alt="Linked In" src="assets/img/png/linkedin.png" /></a> </li>
				<li> <a href="#"><img alt="Email" src="assets/img/png/mail.png" /></a> </li>
				<li> <a href="#"><img alt="Twitter" src="assets/img/png/twitter.png" /></a> </li>
			</ul>
		</nav>
	</div>
	<div class="clearfix"></div>
</div>